---
import Layout from '../../layouts/Layout.astro';
import Product from '../../components/Product';

const lang = 'en';
---

<Layout title="Products | Zagros Agriculture" lang={lang}>
  <div class="bg-white dark:bg-primary-900">
    <div class="relative isolate">
      <Product client:load />
    </div>
  </div>
</Layout>
